PyDirectInput~=1.0.4
requests~=2.31.0
nicegui~=1.4.19
PyCharacterAI~=2.2.50
numerize~=0.12
vdf~=3.4
pywebview~=6.0

# Development and build dependencies
pyinstaller>=6.0  # For building executable files